@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2? family = Poppins: ital, wght @ 0,100; 0,200; 0,300; 0,400; 0,500; 0,600; 0,700; 1,100; 1,200; 1,300; 1,400; 1.500; 1.600 & display = swap ');

body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(252, 252, 252);
}

.container{
    display: grid;
    width: 900px;
    background-color: white;
    margin: auto;
    margin-top: 4%;
    height: 75vh;
    box-shadow: 0 0.2rem 0.5rem #4f36ef41;
  }

  h1{
      margin-top: 15%;
  }

  button{
    width: 255px;
    height: 25px;
    outline: none;
    background-color: black;
    border: none;
    box-shadow: 0 0.2rem 0.4rem #00000069;
    color: white;
    margin-top: 15%;
  }