@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2? family = Poppins: ital, wght @ 0,100; 0,200; 0,300; 0,400; 0,500; 0,600; 0,700; 1,100; 1,200; 1,300; 1,400; 1.500; 1.600 & display = swap ');

body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(252, 252, 252);
}

.container{
  display: grid;
  width: 900px;
  background-color: white;
  margin: auto;
  margin-top: 4%;
  grid-template-columns: 450px 450px;
  height: 75vh;
  box-shadow: 0 0.2rem 0.5rem #4f36ef41;
}

/*----------- GRID - LOGIN - LADO ESQUERDO ---------------*/
.left-side{
  padding: 5%;
  padding-left: 15%;
}

.left-side img{
  width: 8%;
  margin-top: 15px;
}

.login{
  font-size: 18px;
  margin: 0;
  margin-top: 50px;
}

.txt-lf p{
  font-size: 13px;
  margin: 0;
}

.form{
  margin-top: 10%;
}

.form label{
  font-size: 13px;
}

.form input{
  width: 250px;
  height: 25px;
  border: 0.1px #4f36ef38 solid;
  outline: none;
  border-radius: 2px;
}

.form input:focus{
  box-shadow: 0 0rem 0.4rem #4f36ef41;
  transition: 0.5s;
}

.form button{
  width: 255px;
  height: 25px;
  outline: none;
  margin-top: 5%;
  background-color: black;
  border: none;
  box-shadow: 0 0.2rem 0.4rem #00000069;
  color: white;
  margin-bottom: 6%;
}

.txt-lf-2 a{
  font-size: 13px;
  margin-top: 4%;
  color: black;
  text-decoration: none;
  letter-spacing: -0.5px;
}

/*----------- GRID - LOGIN - LADO DIREITO ---------------*/

.right-side{
  background-color: #5138ec;
  padding-left: 9%;
  color: white;
}

.right-side h3{
  margin-top: 10%;
}

.right-side p{
  font-size: 13px;
}

.right-side img{
  margin-top: 10px;
  width: 90%;
}

