@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2? family = Poppins: ital, wght @ 0,100; 0,200; 0,300; 0,400; 0,500; 0,600; 0,700; 1,100; 1,200; 1,300; 1,400; 1.500; 1.600 & display = swap ');
* {
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: #f0f4ff;

    height: 100vh;
}

.container {
    display: flex;
    width: 1000px;
    margin: auto;
    box-shadow: 0rem 0rem 5rem #407dee2f;
    background-color: #fff;
    border-radius: 2px;
}

/* ------------ GRID FORM-CLIENTE ------------- */

.grid-um {
    padding: 4%;
    padding-top: 1%;
}

.titulo {
    display: flex;
    flex-direction: row;
    font-size: 15px;
}

.titulo .img{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 5%;
}

.titulo .img img{
    width: 75%;
}

.titulo h3 {
    font-size: 20px !important;
    font-weight: 500;
    color: #161616;
}

.subtitulo p {
    font-size: 10px;
    color: #407cee;
    margin-top: 2%;
}

.div-1-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.label {
    font-size: 13px;
    color: #161616;
    font-weight: 400;
}

.form .nome {
    width: 900px;
    height: 35px;
    border: 0.5px #407dee6c solid;
    outline: none;
    border-radius: 2px;
}

.form .nome:focus {
    transition: 0.2s;
    background-color: #f8f8f8;
}

.form input {
    width: 443px;
    height: 35px;
    border: 0.5px #407dee69 solid;
    outline: none;
    border-radius: 2px;
}

.form input:focus {
    transition: 0.2s;
    background-color: #f8f8f8;
}

.form .log {
    margin-left: 5px;
}

.form .bairro {
    margin-left: -5px;
}

.grupo .logradouro {
    width: 722px;
    margin-left: 6px;
}

.grupo .numero {
    width: 50px;
}

.grupo .cep {
    width: 100px;
}

.grupo .bairro {
    width: 230px;
    margin-left: -5px;
}

.grupo .estado {
    width: 200px;
    margin-left: 5px;
}

.grupo .senha {
    width: 270px;
    margin-left: -5px;
}

.grupo .confirmar-senha {
    width: 270px;
}

.btn {
    width: 250px;
    background-color: #407cee;
    border: none;
    border-radius: 1px;
    height: 35px;
    color: white;
    font-size: 15px;
    box-shadow: 0px 0px 2px #535353;
    cursor: pointer;
}

.btn:hover {
    background-color: #2e59a8;
    transition: 0.2s;
}

.grid-dois {
    background-color: #5138ec;
}

@media screen and (max-width: 1100px) {
    .container {
        width: 900px;
        margin: auto;
        box-shadow: 0 0.2rem 0.5rem #4f36ef41;
    }
    .form .nome {
        width: 800px;
        height: 30px;
        border: 0.5px #4f36ef38 solid;
        outline: none;
    }
    .form input {
        width: 393px;
        height: 30px;
        border: 0.5px #4f36ef38 solid;
        outline: none;
    }
    .grupo .logradouro {
        width: 490px;
    }
    .grupo .cidade {
        width: 203px;
    }
    .grupo .estado {
        width: 100px;
    }
    .grupo button {
        width: 203px;
    }
}


@media screen and (max-width: 900px) {
    .container {
        width: 700px;
        margin: auto;
        margin-top: 10%;
        grid-template-columns: 650px 50px;
        box-shadow: 0 0.2rem 0.5rem #4f36ef41;
    }
    .form .nome {
        width: 550px;
        height: 30px;
        border: 0.5px #4f36ef38 solid;
        outline: none;
    }
    .form input {
        width: 270px;
        height: 30px;
        border: 0.5px #4f36ef38 solid;
        outline: none;
    }
    .grupo .logradouro {
        width: 490px;
    }
    .grupo .cidade {
        width: 203px;
    }
    .grupo .estado {
        width: 100px;
    }
    .grupo button {
        width: 203px;
    }
}


@media screen and (max-width: 720px) {
    body {}
    .grid-dois {}
    .container {
        display: grid;
        width: 400px;
        margin: auto;
        margin-top: 10%;
        grid-template-columns: 390px 10px;
        box-shadow: 0 0.2rem 0.5rem #4f36ef41;
        margin-bottom: 10%;
    }
    .form .nome {
        width: 340px;
    }
    .form input {
        width: 340px;
    }
    .form .logradouro {
        width: 290px;
    }
    .form .cidade {
        width: 339px;
        margin-left: -5px;
    }
    .form button {
        margin-left: -5px;
    }
    .grupo .senha {
        margin-left: 0px;
    }
}