@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2? family = Poppins: ital, wght @ 0,100; 0,200; 0,300; 0,400; 0,500; 0,600; 0,700; 1,100; 1,200; 1,300; 1,400; 1.500; 1.600 & display = swap ');

* {
    transition: 0.2s all;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #f7fcfe;
}

/*----------- HEADER -----------------*/

.container {
    position: absolute;
    width: 100%;
    height: 12vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 20px #1616160e;
}

.container header {
    width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container header .logo {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container header .logo .image {
    width: 32px;
}

.container header .logo img {
    width: 140px;
}

.logo h4 {
    font-weight: 550;
    font-size: 18px;
    color: #535353;
}

.container header .itens {
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: center;
}

.container header .itens ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
}

.container header .itens ul li {
    display: flex;
    list-style: none;
    align-items: center;
}

.container header .itens ul li a {
    display: flex;
    text-decoration: none;
    padding: 15px;
    font-size: 15px;
    font-weight: 400;
    color: #161616;
}

.container header .itens ul li a:hover {
    color: #407cee;
    transition: 0.2s;
}

.container header .itens ul li .empresa {
    display: flex;
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
    color: #161616;
    border-radius: 2px;
    border: 1px #407cee solid;
}

.container header .itens ul li .empresa:hover {
    color: #fff;
    background-color: #407cee;
    transition: 0.2s;
}

.container header .itens ul li .item-1 {
    display: flex;
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    border-radius: 2px;
    background-color: #407cee;
}

.container header .itens ul li .item-1:hover {
    color: #fff;
    background-color: #396ac5;
}

.container-two {
    width: 100%;
    position: relative;
    top: 4.9rem;
}

.container-two .main-ctwo {
    position: relative;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-two .texts {
    position: absolute;
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 5px;
    background-color: #fff;
    padding: 15px;
    padding-left: 42px;
    box-shadow: 10px 20px 20px #1616160e;
}

.texts .img {
    width: 48%;
    margin: auto;
    border: none;
    overflow: hidden;
    height: 110px;
    border-radius: 100%;
    margin-top: 20px;
}

.texts .img img {
    width: 130%;
    background-size: contain;
}

.texts .texts-one {
    margin-top: 20px;
}

.texts .texts-one h3 {
    font-size: 22px;
    color: #161616;
    font-weight: 500;
    margin: 0;
    margin-top: 20px;
}

.texts .texts-one p {
    margin: 0;
    margin-top: 2px;
    font-size: 14px;
    font-weight: 400;
}

.texts-one .item-1 {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    background-color: #407cee;
    border-radius: 1.5px;
    padding: 8px;
    cursor: pointer;
}

.texts-one .item-1:hover {
    background-color: #2f5bad;
}

.texts-two {
    margin-top: 15px;
}

.texts-two p {
    font-size: 14px;
    color: #161616;
}

.texts-tree {
    border: none;
    border-radius: 1px;
    margin-top: 15px;
    border-top: 1px solid #1616161f;
}

.texts-tree h3 {
    font-size: 18px;
    color: #161616;
    font-weight: 500;
    margin: 0;
    margin-top: 10px;
}

.texts-tree p {
    margin: 0;
    margin-top: 5px;
    font-size: 14.5px;
    font-weight: 400;
    text-align: left;
    color: #161616;
}

.texts .div-about {
    margin-top: 10px;
    border-radius: 2px;
    height: wrap;
    border: 0.5px solid #396ac559;
    padding: 5px;
    transition: 0.2s;
}

.texts .div-about button {
    border: none;
    width: 230px;
    text-align: justify;
    height: 40px;
    font-size: 16px;
    background-color: #396ac518;
    cursor: pointer;
}

.texts .div-about button:hover {
    background-color: #396ac538;
}

.texts .div-about .text-about {
    display: none;
}

.texts .div-about p {
    font-size: 15px;
}

.vitrines{
    position: absolute;
    right: 0;
    width: 76%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    height: 100vh;
}

.vitrines .vitrine_um{
    width: 50%;
}

.vitrines .vitrine_dois{
    background-color: white;
    border: 1px solid #d3d3d3;
    border-radius: 2px;
    width: 48%;
}

.vitrine_um .text_vitrine_um{
    position: absolute;
    width: 50%;
    padding-top: 15px;
}

.vitrine_um .text_vitrine_um h3{
    font-size: 19px;
    font-weight: 500;
}

.vitrine_um .titulo-e-butao{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.vitrine_um .titulo-e-butao h3 {
    font-weight: 400;
    font-size: 20px;
    color: #161616;
}

.vitrine_um .titulo-e-butao button {
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    background-color: #407cee;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 20px;
}


.vitrine_dois .text_vitrine_dois{
    position: absolute;
    width: 30%;
    background-color: #fff;
    border: 1px #f0f0f0 solid;
    padding: 10px;
    border-radius: 4px;
    margin: auto;
    margin-top: 5rem;
    right: 2%;
}

.vitrine_dois .text_vitrine_dois h3{
    font-size: 19px;
    font-weight: 500;
}

.container_cards{
    width: 100%;
}

.container_cards a{
    text-decoration: none !important;
}

.container_cards .card{
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-left: 1rem;
    margin-top: 0.9rem;
    border: 1px solid #d3d3d3;
    background-color: #fff;
    float: left;
    overflow: hidden;
}

.container_cards .card:hover{
    transform: scale(1.005);
    transition: 0.3s;
    box-shadow: 0px 0px 20px rgba(22, 22, 22, 0.288);
}

.container_cards .card .img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.container_cards .card .img img{
    width: 110%;
    background-size: contain;
}

.container_cards .card .text{
    width: 100%;
    height: 150px;
    transition: 0.2s;
    overflow: hidden;
}

.container_cards .card .text h3{
    color: #161616;
    font-weight: 600;
    font-size: 19px;
    text-decoration: none;
    width: 90%;
    margin: auto;
    margin-top: 0.5rem;
}

.container_cards .card .text .preco{
    font-weight: 600;
    color: rgb(8, 75, 8);
    font-size: 18px;
    width: 90%;
    margin: auto;
    margin-top: 0.5rem;
}

.container_cards .card .text .desc{
    font-weight: 400;
    width: 90%;
    margin: auto;
    font-size: 14.5px;
    color: #161616;
    margin-top: 0.5rem;
}

/*    VITRINE PARCEIROS    */
.vitrine_dois{
    display: flex;
    flex-direction: column;
    height: min-content;
}

.vitrine_dois .title{
    font-weight: 500;
    font-size: 22px;
    width: 90%;
    margin: auto;
    margin-top: 0.5rem;
    color: #161616;
}

.vitrine_dois .subtitle{
    font-weight: 400;
    font-size: 18px;
    width: 90%;
    margin: auto;
    margin-top: 0rem;
    color: #161616;
}

.vitrine_dois .container_cards{
    width: 100%;
}

.vitrine_dois .container_cards .title{
    font-weight: 600;
    font-size: 18px;
    margin-left: 1rem;
    margin-top: 1rem;
    padding:5px;
    color: #252525;

    border-radius: 3px;
}

.vitrine_dois .container_cards a{
    text-decoration: none !important;
}

.vitrine_dois .container_cards .card{
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 1rem;
    margin-top: 0.9rem;
    border: 1px solid #d3d3d3;
    background-color: #fff;
    overflow: hidden;
    float: left;
}

.vitrine_dois .container_cards .card:hover{
    transform: scale(1.005);
    transition: 0.3s;
    box-shadow: 0px 0px 20px rgba(22, 22, 22, 0.288);
}

.vitrine_dois .container_cards .card .img{
    width: 100%;
    height: 150px;
    overflow: hidden;
}
.vitrine_dois .container_cards .card .img img{
    width: 100%;
    background-size: contain;
}

.vitrine_dois .container_cards .card .text{
    width: 100%;
    height: 150px;
    transition: 0.2s;
    overflow: hidden;
}

.vitrine_dois .container_cards .card .text h3{
    color: #161616;
    font-weight: 600;
    font-size: 19px;
    text-decoration: none;
    width: 90%;
    margin: auto;
    margin-top: 0.5rem;
}

.vitrine_dois .container_cards .card .text .preco{
    font-weight: 600;
    color: rgb(8, 75, 8);
    font-size: 18px;
    width: 90%;
    margin: auto;
    margin-top: 0.5rem;
}

.vitrine_dois .container_cards .card .text .desc{
    font-weight: 400;
    width: 90%;
    margin: auto;
    font-size: 14.5px;
    color: #161616;
    margin-top: 0.5rem;
}

.table-popup2 {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.table-popup2 .tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2rem;
    margin-top: 1rem;
}

.table-popup2 .tr .foto-nome, .table-popup2 .tr .buttons-solicitacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 22%;
}

.table-popup2 .tr .buttons-solicitacao button {
    width: 100px;
    margin-left: 15px;
    height: 40px;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}

.table-popup2 .tr .buttons-solicitacao .btn-1 button {
    background-color: #407cee;
    color: white;
}

.table-popup2 .tr .buttons-solicitacao .btn-2 button {
    border: 1px solid #53535344;
}

.table-popup2 .tr .foto-nome .img, .table-popup2 .tr .foto-nome .img img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
}

::-webkit-scrollbar {
    width: 10px;
    background: var(--dark);

}

::-webkit-scrollbar-thumb {
    background-color: #5423b5;
    background-image: linear-gradient(43deg, #5423b5 32%, #5b1ebf 38%, #3318e0 100%);

}

.popup3 {
    display: none;
    position: fixed;
    max-width: 70vw;
    height: 30vw;
    transform: translateX(43%);
    margin-top: 8vw;
    background-color: #fff;
    box-shadow: 0rem 0rem 2rem #407dee28;
    border-radius: 2px;
    padding: 25px;
    z-index:2;
}

.popup3 .tituloPopup {
    width: 85%;
}

.popup3 .tituloPopup h3 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 0;
}

.popup3 .tituloPopup p {
    font-size: 17px;
    font-weight: 300 !important;
    margin-top: 0;
}

.popup3 textarea {
    width: 100%;
    height: 50%;
    outline: none;
    border: none;
    background-color: #53535315;
    font-size: 18px;
}

.popup3 .buttons {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}

.popup3 .buttons button {
    width: 300px;
    height: 45px;

    outline: none;
    border: none;

    font-size: 16.5px;
    cursor: pointer;
}

.popup3 .buttons .enviar {
    background-color: #407cee;
    color: white;
}

.popup3 .buttons .cancelar {
    border: 0.5px solid;
    border-color: #535353a4;
    color: #161616;
}


.popup2 {
    z-index: 1;
    background-color: white;
    height: 600px;
    width: 800px;
    margin-left: 20%;
    position: fixed;
    margin-top: 2%;
    padding: 2rem;
    padding-top: 1rem;
    display: flex;
    visibility: hidden;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.popup2 .conteudoPopup2 {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    margin-top: 20px;

}

.popup2 .conteudoPopup2 .fotoPerfil img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.popup2 .tituloh {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.popup2 .tituloh i {
    font-size: 25px;
    color: rgb(177, 177, 177);
    margin-left: 150px;
    margin-top: 10px;
}

.popup2 .tituloh i:hover {
    color: red;
}

.popup2 .tituloh button {
    border: none;
    background: none;
}

.popup2 .tituloh button:focus {
    outline: none;
}

.popup2 .tituloh p {
    width: 100%;
    font-size: 23px;
    margin: 0;
    margin-left: 5px;
    font-family: 'Poppins';
}

.popup2 .subtituloh p {
    margin: 0;
    margin-left: 5px;
    margin-top: -10px;
    font-size: 17px;
    color: rgb(70, 70, 70);
    font-family: 'Poppins';
}



.popup {
    position: fixed;
    z-index: 1;
    display: none;
    background-color: white;
    height: 600px;
    width: 800px;
    margin-left: 20%;
    margin-top: 2%;
    visibility: hidden;
    -webkit-box-shadow: 0 0 0.2rem rgba(26, 26, 26, 0.192);
    box-shadow: 0 0 0.2rem rgba(24, 24, 24, 0.192);
}

.popup .conteudoPopup {
    display: grid;
    grid-template-columns: 48% 50%;
}

.popup .LadoEsquerdo {
    background-color: rgb(243, 243, 243);
    height: 420px;
    margin-left: 30px;
    border-radius: 5px;
}

.popup .tituloPopup p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-top: 50px;
    margin-left: 30px;
    float: left;
}

.popup .tituloPopup button {
    width: 10px;
    border: none;
    background-color: white;
}

.popup .tituloPopup button:focus {
    outline: none;
}

.popup .tituloPopup i {
    font-size: 30px;
    margin-top: 50px;
    color: rgb(255, 196, 196);
    margin-left: 400px;
}

.popup .tituloPopup i:hover {
    color: red;
}

.popup .tituloPopup {
    width: 90%;
    height: 50px;
}

.popup .LadoDireito {
    height: 300px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 5px;
}

.popup .LadoDireito .parteCima i {
    float: left;
    font-size: 25px;
    color: rgb(104, 104, 104);
    margin-right: 10px;
}

.popup .LadoDireito .parteCima {
    background-color: rgb(243, 243, 243);
    width: 100%;
    height: 70px;
    border-radius: 5px;
}

.popup .LadoEsquerdo textarea {
    height: 100px;
    width: 325px;
    border: none;
    margin-left: 10px;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    resize: none;
}

.popup .LadoEsquerdo textarea:focus {
    outline: none;
    padding: 5px;
}

.popup .LadoEsquerdo p {
    margin-left: 10px;
    margin-top: 30px;
    color: rgb(51, 51, 51);
    font-family: 'Open Sans', sans-serif;
}

.popup .LadoDireito .parteCima p {
    margin-left: 50px;
    color: rgb(51, 51, 51);
    font-family: 'Open Sans', sans-serif;
}

.popup .LadoDireito .parteCima input {
    visibility: hidden;
}

.popup .LadoDireito .parteCima label {
    font-family: 'Open Sans', sans-serif;
    margin-left: 20px;
    margin-top: -3px;
    color: gray;
    font-size: 15px;
    padding: 5px;
    float: left;
    border-radius: 5px;
}

.popup .LadoDireito .parteCima label:hover {
    color: black;
}

.popup .LadoDireito .parteBaixo .imagem img{
    width: 100%;
    height: 200px;
}

.popup .LadoDireito .parteBaixo {
    margin-top: 30px;
    height: 200px;
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
}

.popup .LadoDireito .parteBaixo button {
    color: white;
    height: 40px;
    font-family: 'Open Sans', sans-serif;
    border: none;
    background: rgb(124, 92, 245);
    background: linear-gradient(31deg, rgba(124, 92, 245, 1) 44%, rgba(64, 125, 238, 1) 100%);
    width: 340px;
}

.popup .LadoDireito .parteCima a {
    margin-left: 10px;
    text-decoration: none;
    font-size: 18px;
}

.popup .LadoEsquerdo input {
    border: none;
    width: 320px;
    margin-left: 10px;
    height: 30px;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 5px;
}

.popup .LadoEsquerdo .preco {
    color: green;
}

.popup .LadoEsquerdo input:focus {
    outline: none;
}