@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2? family = Poppins: ital, wght @ 0,100; 0,200; 0,300; 0,400; 0,500; 0,600; 0,700; 1,100; 1,200; 1,300; 1,400; 1.500; 1.600 & display = swap ');
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #f0f4ff;
}

.container {
    display: grid;
    width: 1000px;
    height: 600px;
    grid-template-columns: 500px 500px;
    margin: auto;
    margin-top: 30px;
    background-color: #fff;
    box-shadow: 0 0.2rem 2rem #407dee23;
    border-radius: 2px;
}

.proximo a{
    float: right;
    color: white;
    margin-top: 0px;
    text-decoration: none;
}

.proximo a:hover{
    font-weight: bold;
    transition: 0.2s;
}


.LadoDireito {
    background: rgb(124, 92, 245);
    background: linear-gradient(31deg, rgba(124, 92, 245, 1) 44%, rgba(64, 125, 238, 1) 100%);
}

.LadoEsquerdo .titulo {
    font-size: 25px;
    margin-top: 60px;
}

.LadoEsquerdo .subtitulo {
    font-size: 15px;
    margin-top: 20px;
}

.LadoEsquerdo textarea {
    width: 400px;
    height: 110px;
    border: none;
    background-color: rgb(247, 247, 247);
    font-size: 15px;
    margin-top: 70px;
    border-radius: 7px;
    padding: 5px;
    color: rgb(72, 7, 109);
}

.LadoEsquerdo textarea:focus {
    box-shadow: none;
    outline: none;
}

.LadoEsquerdo .conteudo {
    padding: 40px;
}

.começar button {
    background-color: white;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid black;
    width: 200px;
    height: 30px;
    margin-top: 100px;
    border-radius: 3px;
    font-size: 15px;
}

.começar button:hover {
    border-bottom: 2px solid black;
}

.LadoDireito .conteudo {
    padding: 40px;
}

.LadoEsquerdo i {
    float: left;
    text-decoration: none;
    color: rgb(53, 53, 53);
}

.LadoEsquerdo .menuPasso p {
    float: right;
    margin-top: -2px;
}

.LadoEsquerdo .icone {
    border-radius: 4px;
    width: 80px;
    float: left;
    margin-left: 10px;
}

.LadoEsquerdo .icones {
    margin-top: 30px;
    height: 130px;
    width: 500px;
}

.LadoEsquerdo .icones2 {
    width: 500px;
    height: 130px;
}

.LadoEsquerdo .icones3 {
    height: 120px;
}

.LadoEsquerdo .icones3 .outro {
    margin-left: 16px;
}

.LadoEsquerdo .icone:hover img {
    width: 45px;
}

.LadoEsquerdo .icone button {
    background: none;
    border: none;
    box-shadow: none;
}

.LadoEsquerdo button:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.LadoDireito {
    border-radius: 0px 2px 2px 0px;
}

.LadoDireito form input {
    width: 200px;
    font-size: 20px;
    border: none;
    background: none;
    color: rgb(216, 216, 216);
    margin-left: 5px;
}

.icones3 .icone {
    float: left;
}

.LadoDireito .fotoPerfil {
    margin: auto;
    margin-top: 70px;

    
}


.LadoDireito .fotoPerfil img {
    transform: rotate(90deg);
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

.LadoDireito form input:focus {
    box-shadow: none;
    outline: none;
}

.LadoDireito form p {
    float: left;
    color: white;
    font-size: 20px;
}

.titulo2 {
    color: white;
    font-size: 20px;
    margin-top: 40px;
    margin-left: 200px;
}

.LadoDireito form {
    margin-left: 80px;
}

.LadoDireito form button {
    width: 80px;
    margin-left: 220px;
    margin-top: -30px;
    height: 30px;
    background: none;
    color: white;
    font-size: 15px;
    border: none;
}

.fotoPerfil {
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 100px;
    margin-right: 30px;
}

.LadoDireito form i {
    color: white;
    float: right;
}

.LadoDireito form button:hover {
    background: none;
    color: white;
    font-size: 17px;
}

.inf {
    margin-top: 20px;
    margin-left: 50px;
}

.LadoDireito .foto input[type="file"] {
    display: none;
}

.LadoDireito .foto label {
    border: 1px solid white;
    color: white;
    padding: 5px;
    margin-left: -10px;
    border-radius: 1px;
    transition: 0.2s;
    cursor: pointer;
}

.LadoDireito .foto label:hover {
    background-color: white;
    color: black;
    transition: 0.2s;
}

.LadoDireito .foto {
    margin-bottom: 40px;
    margin-left: 80px;
}

.LadoDireito .opcao {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: auto;
    margin-top: 40px;
}

.LadoDireito .opcao img {
    width: 150px;
    margin-top: 20px;
    margin-left: 25px;
}

.LadoEsquerdo .icone img {
    width: 40px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.LadoEsquerdo .icone p {
    font-size: 15px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
}

.LadoDireito button {
    width: 70px;
    height: 30px;
    background: none;
    border: none;
    font-size: 15px;
    margin-top: 30px;
    color: rgb(245, 245, 245);
    cursor: pointer;
}

.LadoDireito button:hover {
    color: white;
}

.LadoEsquerdo .icones3 select {
    width: 230px;
    height: 30px;
    margin-top: 30px;
    margin-left: 20px;
    font-size: 15px;
    display: none;
}

.LadoEsquerdo .icones3 select:focus {
    outline: none;
    box-shadow: none;
}

.imagem {
    margin: auto;
}